/* .debug [class^=col]{
    border: 1px dashed;
    height: 100px;
}
 */
.debug .site_header {
    /* background-color: aquamarine; */
    /* height: 55px; */
    
}
.debug .site_footer {
    background-color: blue;
    height: 50px;
}



:root {
    --fab-primary:#1abc9c;
    --fab-secondary:#2c3e50;
    --fab-darksoft: #3a546d;
}


.site_header {
    background-color:var(--fab-secondary);
    
}

.img-fluid {
    max-width:20%;
    height: auto;
}

.jumbo {
    background-color: var(--fab-primary);
}

.border_left,.border_right {
    background-color: white;
    height: 3px;
    width: 100px;
}

.portfolio img {
    max-width: 100%;
}

.border_dark {
    background-color: black;
    height: 3px;
    width: 100px;
}

